In [1]:
import requests
import json
import pandas as pd

In [2]:
#reference for the future: endpoint url is a good opportunity for f strings (easily change between country name and indicator name)
endpoint_GDP = 'http://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD'
params = {
    "format":"json",
    "Per_page":16758
}

In [3]:
response_GDP= requests.get(endpoint_GDP,params)
response_GDP.json()[0]

{'page': 1,
 'pages': 1,
 'per_page': 16758,
 'total': 16758,
 'sourceid': '2',
 'lastupdated': '2023-09-19'}

In [4]:
gdp_df_raw = pd.json_normalize(response_GDP.json()[1])
gdp_df_raw.tail()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
16753,ZWE,1964,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
16754,ZWE,1963,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
16755,ZWE,1962,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
16756,ZWE,1961,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
16757,ZWE,1960,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe

In [5]:
endpoint_Life_Expectancy = 'http://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN'
params = {
    "format":"json",
    "Per_page":16758
}

In [6]:
response_Life_Expectancy = requests.get(endpoint_Life_Expectancy,params)
response_Life_Expectancy.json()[0]

{'page': 1,
 'pages': 1,
 'per_page': 16758,
 'total': 16758,
 'sourceid': '2',
 'lastupdated': '2023-09-19'}

In [7]:
LE_df_raw = pd.json_normalize(response_Life_Expectancy.json()[1])
LE_df_raw.tail()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
16753,ZWE,1964,54.994,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
16754,ZWE,1963,54.549,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
16755,ZWE,1962,54.071,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
16756,ZWE,1961,53.619,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe
16757,ZWE,1960,53.235,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZW,Zimbabwe

In [8]:
gdp_df = (gdp_df_raw
          .rename(columns = {"value":"GDP_Per_Capita"})
          .drop(columns = ["unit","obs_status","decimal","indicator.id","indicator.value","country.id"])
          .copy()
         )
gdp_df.tail()

      countryiso3code  date  GDP_Per_Capita country.value
16753             ZWE  1964             NaN      Zimbabwe
16754             ZWE  1963             NaN      Zimbabwe
16755             ZWE  1962             NaN      Zimbabwe
16756             ZWE  1961             NaN      Zimbabwe
16757             ZWE  1960             NaN      Zimbabwe

In [9]:
LE_df = (LE_df_raw
         .rename(columns = {"value":"Life_Expectancy_Years"})
         .drop(columns = ["unit","obs_status","decimal","indicator.id","indicator.value","country.id"])
         .copy()
        )
LE_df.tail()

      countryiso3code  date  Life_Expectancy_Years country.value
16753             ZWE  1964                 54.994      Zimbabwe
16754             ZWE  1963                 54.549      Zimbabwe
16755             ZWE  1962                 54.071      Zimbabwe
16756             ZWE  1961                 53.619      Zimbabwe
16757             ZWE  1960                 53.235      Zimbabwe

In [10]:
gdp_le_raw = gdp_df.merge(LE_df,how='inner',on=["country.value","date"])
gdp_le_raw.tail()

,countryiso3code_x,date,GDP_Per_Capita,country.value,countryiso3code_y,Life_Expectancy_Years
16753,ZWE,1964,NaN,Zimbabwe,ZWE,54.994
16754,ZWE,1963,NaN,Zimbabwe,ZWE,54.549
16755,ZWE,1962,NaN,Zimbabwe,ZWE,54.071
16756,ZWE,1961,NaN,Zimbabwe,ZWE,53.619
16757,ZWE,1960,NaN,Zimbabwe,ZWE,53.235

In [11]:
gdp_le = (gdp_le_raw
          .drop(columns = ["countryiso3code_y"])
          .rename(columns = {"countryiso3code_x":"Country_Code","date":"Year","country.value":"Country"})
          .copy()
         )
gdp_le.tail()

      Country_Code  Year  GDP_Per_Capita   Country  Life_Expectancy_Years
16753          ZWE  1964             NaN  Zimbabwe                 54.994
16754          ZWE  1963             NaN  Zimbabwe                 54.549
16755          ZWE  1962             NaN  Zimbabwe                 54.071
16756          ZWE  1961             NaN  Zimbabwe                 53.619
16757          ZWE  1960             NaN  Zimbabwe                 53.235

In [12]:
endpoint_country = 'http://api.worldbank.org/v2/country'
params = {
    "format":"json",
    "Per_page":297
}

response_country = requests.get(endpoint_country, params)
response_country.json()[0]

{'page': 1, 'pages': 1, 'per_page': '297', 'total': 297}

In [13]:
country_df_raw = pd.json_normalize(response_country.json()[1])
country_df_raw.tail()

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
292,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
293,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,Middle East & North Africa,MNA,XQ,Middle East & North Africa (excluding high inc...,LIC,XM,Low income,IDX,XI,IDA
294,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
295,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
296,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [14]:
country_df = (country_df_raw
             .rename(columns = {'name':'Country'})
             .copy()
             )
country_df.tail()

,id,iso2Code,Country,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
292,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
293,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,Middle East & North Africa,MNA,XQ,Middle East & North Africa (excluding high inc...,LIC,XM,Low income,IDX,XI,IDA
294,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
295,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
296,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [15]:
gdp_le_country = gdp_le.merge(country_df,on='Country',how='outer')
print(gdp_le.shape)
print(gdp_le_country.shape)
gdp_le_country.tail()

(16758, 5)
(16791, 22)

,Country_Code,Year,GDP_Per_Capita,Country,Life_Expectancy_Years,id,iso2Code,capitalCity,longitude,latitude,...,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
16786,NaN,NaN,NaN,Resource rich Sub-Saharan Africa countries,NaN,RRS,R6,,,,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
16787,NaN,NaN,NaN,Sub-Saharan Africa,NaN,SSF,ZG,,,,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
16788,NaN,NaN,NaN,Sub-Saharan Africa excluding South Africa,NaN,SXZ,A4,,,,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
16789,NaN,NaN,NaN,"Taiwan, China",NaN,TWN,TW,,,,...,East Asia & Pacific,,,,HIC,XD,High income,LNX,XX,Not classified
16790,NaN,NaN,NaN,Sub-Saharan Africa excluding South Africa and ...,NaN,XZN,A5,,,,...,Aggregates,,,,NA,NA,Aggregates,,,Aggregates

In [16]:
gdp_le_countries_only = (gdp_le_country
                         .drop(index=gdp_le_country[gdp_le_country['region.value']=='Aggregates'].index)
                         .copy()
                        )
print(gdp_le_countries_only.shape)
gdp_le_countries_only.tail()

(13798, 22)

,Country_Code,Year,GDP_Per_Capita,Country,Life_Expectancy_Years,id,iso2Code,capitalCity,longitude,latitude,...,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
16754,ZWE,1963,NaN,Zimbabwe,54.549,ZWE,ZW,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16755,ZWE,1962,NaN,Zimbabwe,54.071,ZWE,ZW,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16756,ZWE,1961,NaN,Zimbabwe,53.619,ZWE,ZW,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16757,ZWE,1960,NaN,Zimbabwe,53.235,ZWE,ZW,Harare,31.0672,-17.8312,...,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend
16789,NaN,NaN,NaN,"Taiwan, China",NaN,TWN,TW,,,,...,East Asia & Pacific,,,,HIC,XD,High income,LNX,XX,Not classified

**Bonus starts here**

In [17]:
endpoint_GDP_US = 'http://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD'
params = {
    "format":"json",
    "Per_page":63
}
response_gdp_us = requests.get(endpoint_GDP_US,params)
print(response_gdp_us.json()[0])
gdp_us_df = pd.json_normalize(response_gdp_us.json()[1])
gdp_us_df.head()

{'page': 1, 'pages': 1, 'per_page': 63, 'total': 63, 'sourceid': '2', 'lastupdated': '2023-09-19'}

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2022,64702.978311,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
1,USA,2021,63635.823810,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
2,USA,2020,60158.910453,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
3,USA,2019,62470.929913,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
4,USA,2018,61348.456596,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States

In [18]:
params = {
    "format":"json",
    "date":2021
}
response_gdp_us = requests.get(endpoint_GDP_US,params)
print(response_gdp_us.json()[0])
gdp_us_df = pd.json_normalize(response_gdp_us.json()[1])
gdp_us_df.head()

{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2023-09-19'}

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,63635.82381,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States

In [19]:
params = {
    "format":"json",
    "date":"2000:2021"
}
response_gdp_us = requests.get(endpoint_GDP_US,params)
print(response_gdp_us.json()[0])
gdp_us_df = pd.json_normalize(response_gdp_us.json()[1])
gdp_us_df

{'page': 1, 'pages': 1, 'per_page': 50, 'total': 22, 'sourceid': '2', 'lastupdated': '2023-09-19'}

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,63635.823810,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
1,USA,2020,60158.910453,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
2,USA,2019,62470.929913,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
3,USA,2018,61348.456596,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
4,USA,2017,59907.754261,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
5,USA,2016,58965.987489,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
6,USA,2015,58420.703040,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
7,USA,2014,57301.600424,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
8,USA,2013,56432.327768,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
9,USA,2012,55796.971919,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
10,USA,2011,54954.463914,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
11,USA,2010,54510.465620,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
12,USA,2009,53514.931797,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
13,USA,2008,55427.178273,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
14,USA,2007,55885.646174,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
15,USA,2006,55307.719149,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
16,USA,2005,54331.658336,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
17,USA,2004,52989.030694,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
18,USA,2003,51497.734688,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
19,USA,2002,50529.349582,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
20,USA,2001,50149.828692,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
21,USA,2000,50169.856362,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States

In [20]:
endpoint_GDP_US_CAD = 'http://api.worldbank.org/v2/country/us;ca/indicator/NY.GDP.PCAP.PP.KD'
params = {
    "format":"json",
    "date":"2000:2021"
}
response_gdp_us_cad = requests.get(endpoint_GDP_US_CAD,params)
print(response_gdp_us_cad.json()[0])
gdp_us_cad_df = pd.json_normalize(response_gdp_us_cad.json()[1])
gdp_us_cad_df

{'page': 1, 'pages': 1, 'per_page': 50, 'total': 44, 'sourceid': '2', 'lastupdated': '2023-09-19'}

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,CAN,2021,48218.038316,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
1,CAN,2020,46181.757555,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
2,CAN,2019,49175.677050,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
3,CAN,2018,48962.481511,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
4,CAN,2017,48317.174584,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
5,CAN,2016,47457.585346,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
6,CAN,2015,47522.140667,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
7,CAN,2014,47564.609110,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
8,CAN,2013,46704.762236,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
9,CAN,2012,46126.513886,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
10,CAN,2011,45823.164240,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
11,CAN,2010,44862.419496,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
12,CAN,2009,44004.314102,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
13,CAN,2008,45851.201928,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
14,CAN,2007,45889.562129,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
15,CAN,2006,45396.839658,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
16,CAN,2005,44680.796489,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
17,CAN,2004,43704.413909,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
18,CAN,2003,42793.079253,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
19,CAN,2002,42416.408753,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
20,CAN,2001,41623.950341,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
21,CAN,2000,41338.647018,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",CA,Canada
22,USA,2021,63635.823810,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
23,USA,2020,60158.910453,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
24,USA,2019,62470.929913,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
25,USA,2018,61348.456596,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
26,USA,2017,59907.754261,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
27,USA,2016,58965.987489,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
28,USA,2015,58420.703040,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
29,USA,2014,57301.600424,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
30,USA,2013,56432.327768,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
31,USA,2012,55796.971919,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
32,USA,2011,54954.463914,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
33,USA,2010,54510.465620,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
34,USA,2009,53514.931797,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
35,USA,2008,55427.178273,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
36,USA,2007,55885.646174,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
37,USA,2006,55307.719149,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
38,USA,2005,54331.658336,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
39,USA,2004,52989.030694,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
40,USA,2003,51497.734688,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
41,USA,2002,50529.349582,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
42,USA,2001,50149.828692,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States
43,USA,2000,50169.856362,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",US,United States

In [21]:
endpoint_GDP = 'http://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD'
page = 1
params = {
    "format":"json",
    "Page":page
}
    
new_response_gdp = requests.get(endpoint_GDP,params)
new_gdp_df = pd.json_normalize(new_response_gdp.json()[1])

while True:
    page+=1
    params = {
        "format":"json",
        "Page":page
    }
    new_response_gdp = requests.get(endpoint_GDP,params)
    if pd.json_normalize(new_response_gdp.json()[1]).empty:
        break
    else:
        new_gdp_df = pd.concat([new_gdp_df,pd.json_normalize(new_response_gdp.json()[1])])

print(new_gdp_df.shape)
new_gdp_df.tail()

(16758, 10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
3,ZWE,1964,None,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
4,ZWE,1963,None,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
5,ZWE,1962,None,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
6,ZWE,1961,None,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe
7,ZWE,1960,None,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZW,Zimbabwe

In [22]:
new_gdp_df.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2022,3553.91337,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZH,Africa Eastern and Southern
1,AFE,2021,3519.17484,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZH,Africa Eastern and Southern
2,AFE,2020,3455.023119,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZH,Africa Eastern and Southern
3,AFE,2019,3648.220302,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZH,Africa Eastern and Southern
4,AFE,2018,3661.360566,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",ZH,Africa Eastern and Southern

Looks like looping over the page number worked!

**Final Bonus: Q6**

In [23]:
endpoint_indicators = 'http://api.worldbank.org/v2/indicator'
params = {
    "format":"json",
    "Per_page":21020
}

response_indicators = requests.get(endpoint_indicators,params)
indicators_df = pd.json_normalize(response_indicators.json()[1])
indicators_df.tail()

,id,name,unit,sourceNote,sourceOrganization,topics,source.id,source.value
21015,WP15163_4.3,"Mobile account, female (% age 15+)",,Mobile account denotes the percentage of respo...,"Demirguc-Kunt et al., 2015, Global Financial I...","[{'id': '7', 'value': 'Financial Sector '}, {'...",57,WDI Database Archives
21016,WP15163_4.8,"Mobile account, income, poorest 40% (% ages 15+)",,Mobile account denotes the percentage of respo...,"Demirguc-Kunt et al., 2015, Global Financial I...","[{'id': '7', 'value': 'Financial Sector '}]",57,WDI Database Archives
21017,WP15163_4.9,"Mobile account, income, richest 60% (% ages 15+)",,Mobile account denotes the percentage of respo...,"Demirguc-Kunt et al., 2015, Global Financial I...","[{'id': '7', 'value': 'Financial Sector '}]",57,WDI Database Archives
21018,wpremia_F,Wage Premia for Females (the ratio of skilled ...,,,,[],80,Gender Disaggregated Labor Database (GDLD)
21019,wpremia_M,Wage Premia for Males (the ratio of skilled m...,,,,[{}],80,Gender Disaggregated Labor Database (GDLD)

In [24]:
indicators_df_filtered = indicators_df[indicators_df['id']=='SE.XPD.EDUC.ZS']
indicators_df_filtered

,id,name,unit,sourceNote,sourceOrganization,topics,source.id,source.value
16623,SE.XPD.EDUC.ZS,Public Expenditure on Education (% GDP),,,,[],57,WDI Database Archives

In [25]:
print(indicators_df_filtered['name'])

16623    Public Expenditure on Education  (% GDP)
Name: name, dtype: object

In [26]:
indicators_df_filtered = indicators_df[indicators_df['name']=='Public Expenditure on Education  (% GDP)']
indicators_df_filtered

,id,name,unit,sourceNote,sourceOrganization,topics,source.id,source.value
16623,SE.XPD.EDUC.ZS,Public Expenditure on Education (% GDP),,,,[],57,WDI Database Archives

Very confusing! There are 2 spaces between "Education" and "(% GDP)"! Is there a better way to do this?

In [27]:
for name in indicators_df['name']:
    if name.find('Public Expenditure on Education')!=-1:
        print(name)

Public Expenditure on Education  (% GDP)

In [28]:
finalname =''
for name in indicators_df['name']:
    if name.find('Public Expenditure on Education')!=-1:
        finalname = name
indicators_df[indicators_df['name']==finalname]

,id,name,unit,sourceNote,sourceOrganization,topics,source.id,source.value
16623,SE.XPD.EDUC.ZS,Public Expenditure on Education (% GDP),,,,[],57,WDI Database Archives

A little bit better. It is still very dependent on formatting of the part of the name before the parentheses, but the words in this name are so generic that cutting down on the name could return far too many results.